<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp"
    android:sharedUserId="com.example.myapp.sharedId"
    android:versionCode="1"
    android:versionName="1.0(1)">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- SMS and Phone Call -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <uses-feature android:name="android.hardware.location.gps" />
    <uses-feature android:name="android.hardware.location.network" />

    <permission android:name="com.example.myapp.customPermission"
        android:protectionLevel="dangerous"
        android:label="Test Allow"
        />




    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/PPK"
        tools:targetApi="33">
        <uses-library android:name="android.test.runner"/>

        <activity
            android:name=".profile.view.PhoneCallActivity"
            android:exported="false"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAfgoaF67n-ppwnQCe8LMWE5b6t0UApCTQ" />

        <activity
            android:name=".profile.view.MessageActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.view.NewItemActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.view.Signup"
            android:exported="false"
            android:permission="com.example.myapp.customPermission">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />

        </activity>
        <activity
            android:name=".profile.view.RatingActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.view.HomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".profile.view.LoginActivity"
            android:exported="true"
            android:permission="com.example.myapp.customPermission"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profile.view.FragmentTest">
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyAfgoaF67n-ppwnQCe8LMWE5b6t0UApCTQ" />
        </activity>
        <activity android:name=".profile.view.CustomViewTest" />

        <provider
            android:name=".profile.util.MyContentProvider"
            android:authorities="com.example.myapp"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".profile.service.MessageService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".profile.broadcastReceiver.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".profile.alarmManager.AlarmManagerService"
            android:enabled="true"
            android:exported="true">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/> -->
            <!-- </intent-filter> -->
        </receiver>
        <receiver
            android:name=".profile.broadcastReceiver.IncomingSMSReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>